{% extends 'base.html' %}
{% block title %}
Add MS / HSD Bills
{% endblock %}

    {% block addbillactive %}
    <li class="nav-item active">
    {% endblock %}

    {% block contents%}
    

<body>
    <br>
    <h1 style="text-align: center;color:yellow" >Add MS/HSD Bill</h1>
    <br>
    <br>

<div class="container">

    <form method="POST" class="form-register" style="color:white;">
        {{ form.csrf_token }}
    {{ form.Date.label() }}
    {{ form.Date(class="form-control", placeholder="Date") }}
    {{ form.VehicleNo.label() }}
    {{ form.VehicleNo(class="form-control", placeholder="VehicleNo") }}
    {{ form.option_entry.label() }}
    {{ form.option_entry(class="form-control", placeholder="Party") }}
    {{ form.product_entry.label() }}
    {{ form.product_entry(class="form-control", placeholder="Product") }}
    {{ form.Volume.label() }}
    {{ form.Volume(class="form-control", placeholder="Volume") }}
    <br>
    {{ form.submit(class='btn btn-lg btn-block btn-primary')}}
    </form>
</div>


    {% endblock %}
