{% extends 'base.html' %}
{% block title %}
Amount Received
{% endblock %}

    {% block amountrecactive %}
    <li class="nav-item active">
    {% endblock %}
    {% block contents%}
    <br>
    <center>
        <img src="https://companieslogo.com/img/orig/HINDPETRO.NS-6dfea446.png?t=1604067036" 
        class="img_logo">
    </center>
        
    
        <br>
        <br>
    <div class="container">
        <h2 style="color: yellow;">Amount Received</h2>
    <form method="POST" class="form-register" style="color:white;">
        {{ form.csrf_token }}
        {{ form.option_entry.label() }}
        {{ form.option_entry(class="form-control", placeholder="Options") }}

        {{ amt_form.csrf_token }}

        {{ amt_form.Date.label() }}
        {{ amt_form.Date(class="form-control", placeholder="Date") }}

        {{ amt_form.Amount.label() }}
        {{ amt_form.Amount(class="form-control", placeholder="Amount Received") }}
        <br>
        {{ amt_form.submit(class='btn btn-lg  btn-primary')}}

    </form>
</div>

{% endblock %}