{% extends 'base.html' %}
{% block title %}
{{partyname}}
{% endblock %}

{% block color %}
<style>
   @import url('https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap');


   body {
       color: black;
       background-color: ivory ;
       font-family: 'REM', sans-serif;
   }

   .img_logo{
       width: 100px;
       height: 100px;
       border-radius: 100px;
   }
   
   table {
     border-collapse: collapse;
     width: 80%;
     margin-left: 130px;
 }
 
 th, td {
     border: 1px solid black;
     padding: 8px;
 }
 
 th {
     background-color: red;
 }    

 .tablerec{
  width:40%;
  margin-left: 490px;
 }
</style>

{% endblock %}

    
    {% block contents%}
      <br>
    <h1 style="text-align: center;" > {{ partyname }} Accounts </h1>
    <br>
    <h6 style="text-align: center;"></h6>
    <br>
      <table>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Vehicle No.</th>
            <th scope="col">Product</th>
            <th scope="col">Volume</th>
            <th scope="col">Rate</th>
            <th scope="col">Amount</th>
            <th scope = 'col'>Actions</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for bill in bill_records %}
            {% include 'includes/deleterec_modals.html'%}
            {% include 'includes/updaterec_modals.html'%}
            <td>{{ bill.Date.strftime('%d/%m/%Y') }}</td>
            <td>{{ bill.VehicleNo }}</td>
            <td>{{ bill.Product }}</td>
            <td>{{ bill.Volume }} L</td>
            <td>{{ bill.Rate }} ₹</td>
            <td>{{ bill.Amount }} ₹</td>
            <td> <center>
              <button type="button"   class="btn btn-outline-danger" data-toggle = 'modal' data-target="#Modal-deleterec-{{ bill.ID }}"> Delete </button>
              <button type="button" style="margin-left: 30px;" class="btn btn-outline-success" data-toggle = 'modal' data-target="#Modal-updaterec-{{ bill.ID }}"> Update </button>
              
            </center>
            </td>
          </tr>
          {% endfor %}

          <tr>
            <td></td>
            <td></td>
            <td style="background-color:aqua">Total</td>
            <td style="background-color:aqua">{{ totalvolume }} L</td>
            <td style="background-color:aqua"></td>
            <td style="background-color:aqua">{{ totalamount }} ₹</td>
            <td><center> <form method="POST">
              {{ print.csrf_token }}
              {{ print.submit(class="btn btn-outline-info") }} 
            </form>
            </center>
            </td>
          </tr>
          </tbody>
          </table>

          <br>
          <br>

          <table class="tablerec">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Amount Received</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for bill in amt_bills %}
                {% include 'includes/deleteamtrec_modals.html'%}

                <td>{{ bill.AmtDate.strftime('%d/%m/%Y') }}</td>
                <td>{{ bill.Amount }}</td>
                <td>
                  <button type="button"   class="btn btn-outline-danger" data-toggle = 'modal' data-target="#Modal-deleteamtrec-{{ bill.ID }}"> Delete </button>
                </td>
              </tr>
              {% endfor %}
    
              <tr>
                <td style="background-color:aqua">Total</td>
                <td style="background-color:aqua">{{ amt_bills_total }} ₹</td>
                <td style="background-color:aqua"></td>
              </tr>

              </tbody>
              </table>
              <br>
              <br>

              <table class="tablerec">
                <thead>
                  <tr>
                    <th style="background-color: yellow;" scope="col">Total Balance</th>
                    <th style="background-color: yellow;" scope="col"> {{balance}} ₹</th>
                  </tr>
                </thead>
                </table>



    {% endblock %}


