{% extends 'base.html' %}
{% block title %}
Add CNG Bill
{% endblock %}

   
    {% block contents%}
    <br><br>
    <center><img src="https://companieslogo.com/img/orig/HINDPETRO.NS-6dfea446.png?t=1604067036" class="img_logo"></center>
    
    <br>

    <div class="container">
        <h3 style="color:yellow">Add CNG Sales</h1>
    <form method="POST" class="form-register" style="color:white;">
        {{ cngform.csrf_token }}

    {{ cngform.Date.label() }}
    {{ cngform.Date(class="form-control", placeholder="Date") }}

    {{ cngform.aside.label() }}
    {{ cngform.aside(class="form-control", placeholder="A side reading") }}

    {{ cngform.bside.label() }}
    {{ cngform.bside(class="form-control", placeholder="B side reading") }}

    {{ cngform.Rate.label() }}
    {{ cngform.Rate(class="form-control", placeholder="Rate") }}
    <br>
    {{ cngform.submit(class='btn btn-lg btn-block btn-primary')}}
    </form>
</div>

{% endblock %}