{% extends 'base.html' %}
{% block title %}
CNG
{% endblock %}

   
    {% block contents%}
    
    <br>
    <br>
    <br>
    <br>
    <div class="container">
    </div>
    <center><img src="https://companieslogo.com/img/orig/HINDPETRO.NS-6dfea446.png?t=1604067036" 
                class="img_logo"></center>
    <br>
    <div class="container">
        <h2 style="color: yellow;">CNG Bill Records</h2>
    <form method="POST" class="form-register" style="color:white;">
        {{ opform.csrf_token }}
        {{ opform.date1.label() }}
        {{ opform.date1(class="form-control", placeholder="From") }}
        {{ opform.date2.label() }}
        {{ opform.date2(class="form-control", placeholder="To") }}
        <br>
        {{ opform.go(class='btn btn-lg  btn-primary')}}
    </form>

</div>
{% endblock %}