{% extends 'base.html' %}


{% block contents%}

<div class="wraptable" style="color:black">
    <div class="wrapper">
        <form method = 'POST'>
        
          <div class="form-group">
            <label for="acc">Account Type</label>
            <select class="form-control" id="account" name = "account">
              <option>Select the account type</option>
              <option>MS/HSD</option>
              <option>CNG</option>
            </select>
          </div>
    <div class="form-group">
        <div>
            <label for="date">Date:</label>
        <input class="form-control" type="date" id="date" name="date" required>
        </div>
        <br>
        <div class="form-group">
            <label for="trans">Transaction Type</label>
            <select class="form-control" id="trans" name = "option">
              <option>Select the transaction type</option>
              <option>Load</option>
              <option>RTGS</option>
              <option>DT Plus</option>
              <option>Others (+) </option>
              <option>Others (-) </option>
            </select>
          </div>
        <label for="exampleInputEmail1">Amount</label>
        <input type="amount" name="amount" class="form-control" id="amount" aria-describedby="amount" placeholder="Enter the amount" required>
        <small  class="form-text text-muted">Enter the amount of the transaction</small>
<br>
        <label for="remarks">Remarks</label>
        <input type="remarks" name="remarks" class="form-control" id="remarks" aria-describedby="remarks" placeholder="Remarks">
        <small  class="form-text text-muted">Enter small description about it</small>
          <br>
        <button type="submit" class="btn btn-primary btn-block">Add Transaction</button>
    </form>
      </div>
    </div>
</div>

{% endblock %}