<!DOCTYPE html>
<html>
<head>
    <title>RSS Buddy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
    
    <a href="/accounts" class="btn btn-primary btn-lg active"  role="button" aria-pressed="true">Add new party</a>
    <a href="/accounts/add" class="btn btn-warning btn-lg active" style="margin-left: 50px;" role="button" aria-pressed="true">Add new Bill</a>
    <a href="/accounts/amtrec" class="btn btn-warning btn-lg active" style="margin-left: 50px;" role="button" aria-pressed="true">Add Amount Received</a>
    </div>
    <br>
    <br>
    <div class="container">
        <h2 style="color: yellow;">Bill Records</h2>
    <form method="POST" class="form-register" style="color:white;">
        {{ opform.csrf_token }}

        {{ opform.date1.label() }}
        {{ opform.date1(class="form-control", placeholder="From") }}

        {{ opform.date2.label() }}
        {{ opform.date2(class="form-control", placeholder="To") }}


        {{ form.csrf_token }}

        {{ form.option_entry.label() }}
        {{ form.option_entry(class="form-control", placeholder="Party") }}
        <br>
        
        {{ form.go(class='btn btn-lg  btn-primary')}}

    </form>

</div>
    <style>
        body {
            color:red;
            font-weight: bolder;
            background-image: url("https://static.vecteezy.com/system/resources/previews/006/852/804/original/abstract-blue-background-simple-design-for-your-website-free-vector.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }

    </style>
</body>
</html>