{% extends 'base.html' %}
{% block title %}
Add Party
{% endblock %}

    {% block addpartyactive %}

    <li class="nav-item active">
    {% endblock %}

    {% block contents%}

<br>
<br>

    <br>

    <div class="container">
        
            
            <center>
                <img src="https://companieslogo.com/img/orig/HINDPETRO.NS-6dfea446.png?t=1604067036" 
                class="img_logo">
            </center>
            <br>
            <H2 style="color: yellow;">Add a new party</H2>
            <form method="POST" class="form-register" style="color:white;">
            {{ optionform.csrf_token }}

        {{ optionform.option_name(class="form-control", placeholder="Party Name") }}
            <br>
        {{ optionform.new_entry(class='btn btn-lg  btn-primary')}}
    
        </form>
    </div>

    {% endblock %}
     
