{% extends 'base.html' %}
{% block title %}
Today's Bills
{% endblock %}

{% block balance %}
<li class="nav-item active">
{% endblock %}

{% block color %}
<style>
   @import url('https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap');

   body {
       color: black;
       background-color: ivory;
       font-family: 'REM', sans-serif;
   }

   .img_logo {
       width: 100px;
       height: 100px;
       border-radius: 100px;
   }

   table {
       border-collapse: collapse;
       width: 80%;
       padding: 10px;
       text-align: center;
   }

   th, td {
       border: 1px solid black;
       padding: 8px;
   }

   th {
       background-color: red;
   }

   .tablerec {
       width: 100%;
       margin-left: 0; /* Remove left margin to center the table on mobile devices */
   }

   /* Responsive adjustments for mobile devices */
   @media (max-width: 768px) {
       th, td {
           font-size: 12px; /* Decrease font size for better readability on small screens */
       }
       .tablerec {
           margin-left: 0;
       }
   }
</style>

{% endblock %}


    {% block contents%}
    <br>
    <br>

    <h1 style="text-align: center;" > Today Entered Bills </h1>
    <br>
    <h6 style="text-align: center;"></h6>
    <br>
    <center>
      <table>
        <thead>
          <tr>
            <th scope="col">Party Name</th>
            <th scope="col">Vehicle No</th>
            <th scope="col">Volume</th>
          </tr>
        </thead>
        <tbody>
            {% for bill in bill_records %}
          <tr>
            <td>{{ bill.Party }}</td>
            <td>{{ bill.VehicleNo }}</td>
            <td>{{ bill.Volume }}</td>
          </tr>
          {% endfor %}

          <tr>
            <th style="background-color: aqua;" scope="col"></th>
            <th style="background-color: aqua;" scope="col">Total</th>
            <th style="background-color: aqua;" scope="col">{{totalvolume}} L</th>
          </tr>
        </tbody>
        </table>
      </center>
          {% endblock %}

